VK_TOKEN=
USER_ID=   # Твой личный ID, чтобы бот слушался только тебя
GROUP_ID=         # ID сообщества, в котором живет бот
CHAT_PEER_ID=
API_VERSION=5.199          # Актуальная версия на 2026 год
LMS_URL=http://localhost:1234
OPENROUTER_KEY=
PROJECTS_ROOT=./projects
